#!/bin/bash

mkdir -p $BASEDIR/instances
mkdir -p $BASEDIR/logs
cp -R -f mongo* $BASEDIR/instances
mv -f init.d/* /etc/init.d
cp cluster.key $BASEDIR/instances
chown -R mongod:mongod $BASEDIR/instances
chown -R mongod:mongod $BASEDIR/logs
rm -Rf $BASEDIR/logs/*
chmod a+x /etc/init.d/mongos
chmod a+x /etc/init.d/mongod
